* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.5;
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #97b9db;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #595959;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(201, 82, 82);
}

button.stop {
    background-color: rgb(124, 124, 124);
}

button.stop:hover {
    background-color: rgb(94, 94, 94);
}

button.reset {
    background-color: rgb(206, 206, 206);
}

button.reset:hover {
    background-color: rgb(176, 176, 176);
}

#playback-controls {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Add this line to create space between elements */
}

#trackName {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.notice {
    text-align: center;
    color: #949494;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

/* Common Breakpoints */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .container {
        max-width: 600px;
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #f2f2f2;
    }

    .container {
        background-color: #444;
        color: #f2f2f2;
    }

    h1,
    p,
    select,
    button,
    #trackName {
        color: #f2f2f2;
    }

    select {
        background-color: #555;
        border: 1px solid #888;
    }

    button {
        background-color: #888;
    }
}
